@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    
}
body{
    background-color: black;
}

.logo img{
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 5, 5);
    /* margin: 20px 0; */
    padding: 20px;
    
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Add blur effect */
    z-index: 1000; /* Ensure it's above other content */
    
    
    
}
.logo{
    margin-left: 5%;
    
}
.bar{
    position: relative;
    width: 400px;
    height: 50px;
    /* background: #222; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    position: relative;
    display: inline-block;
    padding: 0 29px;
    z-index: 1;
    background: transparent;
}
.bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span {
    left: 0;
}
nav a:nth-child(2):hover~span {
    left: 100px;
}
nav a:nth-child(3):hover~span {
    left: 200px;
    
    
}
nav a:nth-child(4):hover~span {
    left: 300px;
    
    
}
.bar:hover span {
    width: 100px; /* Adjust the width as needed */
}
.search-bar{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-right: 5%;
}
.search-bar button img {
    width: 20px;
    background: transparent;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);;
    cursor: pointer;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
}
::placeholder{
    color: gray;
}

#movie-details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    text-align: left; /* Align text to the left */
    
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path/to/background-image.jpg'); /* Replace 'path/to/background-image.jpg' with the actual URL of your background image */
    background-size: cover;
    opacity: 0.3; /* Adjust the opacity to your liking */
    z-index: -1; /* Ensure the background image is behind other content */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.serie {
    width: 200px;
    margin: 1rem;
    background: linear-gradient(100deg, #4f1919, #ff3333);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    height: 380px;
}

.serie img {
    width: 100%;
}

.serie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.serie-info h3 {
    margin-top: 0;
    margin-left: 10px;
}

.serie-info span {
    background-color: black;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
}

.serie-info span.green {
    color: lightgreen;
}

.serie-info span.orange {
    color: orange;
}

.serie-info span.red {
    color: red;
}

.overview {
    background-color: whitesmoke;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    color: black;
    font-size: 12px;
}

.serie:hover .overview {
    transform: translateY(0);
}

.overview h3 {
    color: black;
    font-size: 15px;
}