@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    
    
}
body{
    background-color: black;
}

.logo img{
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 5, 5);
    /* margin: 20px 0; */
    padding: 20px;
    
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    z-index: 1000; 
    
    
    
}
.logo{
    margin-left: 5%;
    
}

.bar{
    position: relative;
    width: 400px;
    height: 50px;
    /* background: #222; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    position: relative;
    display: inline-block;
    padding: 0 29px;
    z-index: 1;
    background: transparent;
}
.bar span{
    position: absolute;
    top: 0;
    left: -10px;
    width: 90px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span {
    left: -10px;
}
nav a:nth-child(2):hover~span {
    left: 95px;
}
nav a:nth-child(3):hover~span {
    left: 210px;
    
    
}
nav a:nth-child(4):hover~span {
    left: 315px;
    
    
}
.bar:hover span {
    width: 100px; 
}
.search-bar{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-right: 5%;
}
.search-bar button img {
    width: 20px;
    background: transparent;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);;
    cursor: pointer;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
}
::placeholder{
    color: gray;
}
.content-section {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 3vW;
}

.info-container{
    padding: 50px 32px 64px 0;
    width: 45%;
    line-height: 28px;
}

.logo-container h1 {
    font-size: 55px;
    margin-bottom: 55px;
    line-height: 60px;
}
.title-info-metadata-wrapper{
    color: #a3a3a3;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
}
.title-info-metadata-item span{
    color: #a3a3a3;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}
.maturity-number{
    border: 1px solid #a3a3a3;
    padding: 0 5px;
}
.info-spacer {
    color: #a3a3a3;
}
.btn{
    margin-top: 20px;
    gap: 20px;
    align-items: center;
    display: flex;
}
.btn-play{
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 8px;
}

.list span{
    cursor: pointer;
    font-size: 14px;
    padding: 13px 50px;
    border: 1px solid white;
    border-radius: 8px;
}
.btn-play:hover{
    background-color: rgba(252, 45, 45, 0.719);
    
}
.list span:hover{
    background-color: gray;
}
.details-container{
    margin:  40px 0 0;
    animation: details 1s ease-in-out forwards;
}
@keyframes details {
    from{
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.bg-img {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* z-index: 1; */
}

/* This is for the main */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.movie {
    width: 200px;
    margin: 1rem;
    background: linear-gradient(100deg, #4f1919, #ff3333);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    height: 380px;
    
}

.movie img{
    width: 100%;
    
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-size: 12px;
  }

.movie-info h3 {
    margin-top: 0;
    margin-left: 10px;
    
    
    
}
.movie-info span {
    background-color: black;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
    
    
    
}
.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red{
    color: red;
}
.overview {
    background-color: whitesmoke;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    color: black;
    font-size: 12px;
}
.movie:hover .overview {
    transform: translateY(0);
}
.overview h3{
    color: black;
    font-size: 15px;
}

.finish{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    border-top: 2px solid rgb(88, 13, 13);
    

}
.links{
    margin-top: 20px;
}
.logo{
    margin-top: 20px;
}
a:hover{
    color: #ff3333;
}